{% extends "base.html" %}
{% block title %}Kasir{% endblock %}
{% block content %}
{% load bootstrap %}
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Kasir</h3>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-8">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Produk</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <form action="{{ request.path }}" method="post" class="form-horizontal form-label-left">

                    {% csrf_token %}
                    {{ form|bootstrap_horizontal }}


                    <!-- <div class="ln_solid"></div>
                    <div class="form-group pull-right">
                      <button type="button" class="btn btn-sm btn-primary">Tambahkan</button>
                    </div> -->
                    </form>
                  </div>
                </div>
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Daftar Barang</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" id="table-barang-kasir">

                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Detail</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <label for="pelanggan">Pelanggan:</label>
                    <div class="input-group">
                      <select id="pelanggan" class="form-control js-matcher-customer">
                        <option value="">-</option>
                      </select>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-tambah-pelanggan"><i class="fa fa-plus"></i></button>
                      </span>
                    </div>
                    <label for="discount">Diskon:</label>
                    <select id="discount" class="form-control" name="discount">
                      <option value="">-</option>
                      {% for diskon in discount %}
                        {% if 'discount_pk' in request.session %}
                            <option value="{{ diskon.pk }}" {% if diskon.pk == request.session.discount_pk %}selected{% endif %}>{{ diskon.text }}</option>
                        {% else %}
                          <option value="{{ diskon.pk }}">{{ diskon.text }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div id="app">
                  <section class="cameras">
                    <div class="x_panel">
                      <div class="x_title">
                        <h2>Webcam</h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                          <li class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-video-camera"></i></a>
                            <ul class="dropdown-menu" role="menu" id="daftar-kamera">
              <li v-if="cameras.length === 0" class="empty"><a href="#">No cameras found</a></li>
              <li v-for="camera in cameras">
                <a v-if="camera.id == activeCameraId" :title="formatName(camera.name)" class="active">${ formatName(camera.name) }</a>
                <a v-if="camera.id != activeCameraId" :title="formatName(camera.name)" @click.stop="selectCamera(camera)">${ formatName(camera.name) }
                </a>
              </li>

                            </ul>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <div class="col-md-4" style="flex-direction: column;align-items: center;justify-content: center;display: flex;width: 100%;height:200px;overflow: hidden;">
                          <video id="canvas-kamera"></video>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_content">
                    <div class="pull-right">
                      <a href="{% url 'mapping_cashier' %}" class="btn btn-success">Submit</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-tambah-pelanggan">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Tambah Pelanggan</h4>
      </div>
      <div class="modal-body" id="body-tambah-pelanggan">
        <form class="form-horizontal" id="form-tambah-pelanggan">
          {% csrf_token %}

          <div class="form-group">
            <label class="control-label col-sm-2 col-lg-2 " for="id_name">Nama</label>
            <div class=" col-sm-10 col-lg-10 ">
              <input class=" form-control" id="id_name" name="name" type="text" required="">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 col-lg-2 " for="id_address">Alamat</label>
            <div class=" col-sm-10 col-lg-10 ">
              <input class=" form-control" id="id_address" name="address" type="text" required="">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 col-lg-2 " for="id_phone">No. Telp/HP</label>
            <div class=" col-sm-10 col-lg-10 ">
              <input class=" form-control" id="id_phone" name="phone" type="text">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" id="save-tambah-pelanggan">Tambah Pelanggan</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}