{% extends "base.html" %}
{% block title %}Kasir{% endblock %}
{% block content %}
{% load bootstrap %}
{% load mathfilters %}
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title hidden-print">
              <div class="title_left">
                <h3>Invoice</h3>
              </div>
              <div class="pull-right">
                <a class="btn btn-default" href="{% url 'cashier' %}"><i class="fa fa-chevron-left"></i> Transaksi Baru</a>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Invoice<small>#{{ invoice.invoice_number }}</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <section class="content">
                      <!-- title row -->
                      <div class="row">
                        <div class="col-xs-12">

                            <small class="pull-right">{{ invoice.created_at|date:"D, d M Y H:i" }}</small><br/>

                        </div>
                        <!-- /.col -->
                      </div>
                      {% if invoice.customer %}
                      <div class="row">
                        <div class="col-sm-4">
                          <address>
                              <strong>{{ invoice.customer.name }}</strong>
                              <br><i class="fa fa-phone"></i> {{ invoice.customer.phone }}
                              <br><i class="fa fa-map-marker"></i> {{ invoice.customer.address }}
                          </address>
                        </div>
                        <!-- /.col -->
                      </div>
                      {% endif %}
                      <!-- Table row -->
                      <div class="row">
                        <div class="col-xs-12 table">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Produk</th>
                                <th>Harga</th>
                                <th>Qty</th>
                                <th>Subtotal</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for produk in invoice.details.all %}
                              <tr>
                                <td>{{ produk.product_warehouse.product.name }}</td>
                                <td>Rp. {{ produk.price }}</td>
                                <td>{{ produk.qty }}</td>
                                <td>Rp. {{ produk.subtotal }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                      <div class="row">
                        <!-- /.col -->
                        <div class="col-xs-12">
                          <div class="table-responsive">
                            <table class="table">
                              <tbody>
                                <tr>
                                  <th class="text-right">Subtotal:</th>
                                  <td class="text-right">Rp. {{ invoice.total }}</td>
                                </tr>
                                {% if invoice.discount %}
                                <tr>
                                  <th class="text-right">Diskon:</th>
                                  <td class="text-right">Rp. {{ invoice.discount_size }}</td>
                                </tr>
                                <tr>
                                  <th class="text-right">Total:</th>
                                  <td class="text-right">Rp. {{ invoice.total|sub:invoice.discount_size }}</td>
                                </tr>
                                {% else %}
                                <tr>
                                  <th class="text-right">Total:</th>
                                  <td class="text-right">Rp. {{ invoice.total }}</td>
                                </tr>
                                {% endif %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->


                      <!-- this row will not appear when printing -->
                      <div class="row hidden-print">
                        <div class="col-xs-12">
                          <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
{% endblock %}